spring:
  profiles:
    active: local
    application:
        name: bigchatbrasil

    datasource:
        url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:bigchatbrasil}
        username: ${DB_USERNAME:postgres}
        password: ${DB_PASSWORD:postgres}
        driver-class-name: org.postgresql.Driver

    jpa:
        hibernate:
            ddl-auto: update
            #ddl-auto: create-drop
        show-sql: false
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
                format_sql: false
                id:
                    new_generator_mappings: true
                    db_structure_naming_strategy: legacy
                jdbc:
                    lob:
                        non_contextual_creation: true
        open-in-view: false

server:
    port: 8080
    servlet:
        context-path: /api

management:
    endpoints:
        web:
            exposure:
                include: health,info
            base-path: /actuator
    endpoint:
        health:
            show-details: when-authorized

