# Ignorar arquivos de build
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Ignorar arquivos do IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/

# Ignorar logs
*.log

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar volumes do Docker
postgres_data/

